.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.row {
    margin: 5px;

}

.panel-group {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 0px !important;
    border: 0px !important;
}

.panel-body {
    border-top: 0px !important;
}

.carrousel-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.carrousel-inner.item {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}
