.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.navbar-nav>li>a {
    padding: 4px;
    height: 100%;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.navbar {
    margin: 0px;
}

.navbar-header {
    background-color: #F99370;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #F99370;
    height: 100%;
    float: right;
}

.row {
    margin: 5px;
}

.panel-group {
    margin: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
}

.panel-heading {
    height:100px;
    box-shadow: none !important;
}

.table_crap {
    border-collapse:collapse;
    display : table;
    height: 100%;
}

.align_top {
    display : table-row;
    vertical-align : top;
    height : 1px;
}

.align_bottom {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}

.align_right {
    float: right;
    text-align: center;
}


.panel-body {
    border-top: 0px !important;
    box-shadow: none !important;
}

.panel-footer {
    border: 0px !important;
    box-shadow: none !important;
}


.carrousel-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.carrousel-inner.item {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    -webkit-transition: 0.6s, ease-in-out, left;
    -moz-transition: 0.6s, ease-in-out, left;
    -o-transition: 0.6s, ease-in-out, left;
    transition: 0.6s, ease-in-out, left;
}

.td-center {
    text-align: center;
    width: 50px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border: none;
}

.details-icon {
    padding: 5px;
    border: solid !important;
    text-align: center;
    border-radius : 5px;
}

.container {
    padding: 0px;
}
