{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
	<link rel="stylesheet" href="{{url_for('.static', filename='comments.style.css')}}">
	<link rel="stylesheet" href="{{url_for('.static', filename='nofar.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.mobile.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %} 
{% block title %}
  Comments
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid" style="height: 68px;width:100%;background-color:#F99370;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height: 60px;width:226px;margin-top:8px;margin-left:12px;background-color:#F99370;float:left">
                <a href="/" style="height: 60px;margin:0px;background-color:#F99370;">
                    <img src="{{url_for('.static', filename='icons/posi.svg')}}" style="width:100%;height:60px;border:0px;">
                </a>
            </div>
           <div class="navbar-header" style="height: 60px;width:68px;margin:4px;background-color:#F99370;float:right">
                <a href="{{url_for('create')}}" style="height: 100%;margin:0px;background-color:#F99370;">
                    <img src="{{url_for('.static', filename='icons/plus.svg')}}" style="width:100%;height:100%;border:0px;">
                </a>
            </div>
        </div>
    </nav>

    <div class="text-center" style="margin-top: 1%; margin-bottom: -35px;">
        <div class="text-uppercase">
            <div class=NormalCharacterStyle4> {{ task.title }}</div>
        </div>
    </div>

	<div class="container-fluid" style="width: 100% ; height: 100%;">
		<div class="row board-container">
			<div id="comments" class="board">
				{% for user, comment in task.get_comments().items() %}
				    <li class="comments-user">{{user}}</li>
				    <p class="comments-comment">{{comment}}</p>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
