{% extends "bootstrap/base.html" %}
{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{url_for('.static', filename='create.style.css')}}">
{% endblock %}
{% block scripts %} 
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.mobile.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  <script>
  </script>
{% endblock %} 
{% block title %}
  Create a new task
{% endblock %}


{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid" style="height: 68px;width:100%;background-color:#F99370;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="height: 60px;width:226px;margin-top:8px;margin-left:12px;background-color:#F99370;float:left">
                <a href="/" style="height: 60px;margin:0px;background-color:#F99370;">
                    <img src="{{url_for('.static', filename='icons/posi.svg')}}" style="width:100%;height:60px;border:0px;">
                </a>
            </div>
           <div class="navbar-header" style="height: 60px;width:68px;margin:4px;background-color:#F99370;float:right">
                <a href="{{url_for('main')}}" style="height: 100%;margin:0px;background-color:#F99370;">
                    <img src="{{url_for('.static', filename='icons/cancel.svg')}}" style="width:100%;height:100%;border:0px;">
                </a>
            </div>
        </div>
    </nav>


    <form name = "create" id="createForm" action="create" method = "POST">
		<div class="row text-center">
			<input type="text" class="form-control label-font" placeholder="Title" name="title">
		</div>

		<div class="row text-center">
	 		<textarea class="form-control" rows="3"  placeholder="Description" name="description"></textarea>
		</div>

		<div class="row text-center" data-toggle="buttons" name="duration">
			<div>Task duration:</div>
			<label class="btn ">
				<input type="radio" name="duration" value="10 mins" id="opt-1m" autocomplete="off" checked> 10m
			</label>
			<label class="btn active">
				<input type="radio" name="duration" value="30 mins" id="opt-10m" autocomplete="off" checked> 30m
			</label>
			<label class="btn ">
				<input type="radio" name="duration" value="1 hours" id="opt-3hr" autocomplete="off" checked> 1h
			</label>
			<label class="btn ">
				<input type="radio" name="duration" value="few hours" id="opt-1d" autocomplete="off" checked> few hours
			</label>
			<label class="btn ">
				<input type="radio" name="duration" value="few days" id="opt-1w" autocomplete="off" checked> few days
			</label>
		</div>



		<div class="row text-center">
			<select class="form-control" name="task_type">
				{% for i in types %}
				  <option>{{ i }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="row text-center" data-toggle="buttons" name="in_out_everywhere">

			<label class="btn active">
				<input type="radio" name="in_out_everywhere" value="indoor" id="opt-indoor" autocomplete="off" checked> Indoor
			</label>
			<label class="btn ">
				<input type="radio" name="in_out_everywhere" value="outdoor" id="opt-outdoor" autocomplete="off"> Outdoor
			</label>
			<label class="btn ">
				<input type="radio" name="in_out_everywhere" value="everywhere" id="opt-outdoor" autocomplete="off"> Everywhere
			</label>
		</div>

		<div class="row text-center">
			<button id = "createBtn" class="btn btn-lg" type="submit">SHARE</button>
		</div>

	</form>

{% endblock %}
