{% extends "bootstrap/base.html" %}
{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{url_for('.static', filename='do.style.css')}}">
{% endblock %}

{% block scripts %}
	{{super()}}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.mobile.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
	<script>
		$("#startBtn").click(function () {
			setTimeout(function () {
				$("#startBtn").prop("type", "submit");
				$('#startBtn').html('STOP');

			});
			var t = new Date();
			t.setSeconds(t.getSeconds() + timeSec);
			var countDownDate = t.getTime();
			var x = setInterval(function() {
				interval = 1000;
				// Get todays date and time
				document.getElementById("clock").innerHTML = timeLeftStr(countDownDate, new Date().getTime());
			}, interval);
		});
		var timeEnum = "{{ task.duration }}";
		var timeSec = 0;
		var interval = 0;
		switch (timeEnum){
			case '10 mins':
				timeSec = 60 * 10;
				break;
			case '30 mins':
				timeSec = 60 * 30;
				break;
			case '1hr':
				timeSec = 60 * 60;
				break;
			case 'few hours':
				timeSec = 60 * 60 * 24;
				break;
			case 'few days':
				timeSec = 60 * 60 * 24 * 7;
				break
		}
		var t = new Date();
		t.setSeconds(t.getSeconds() + timeSec);
		var countDownDate = t.getTime();
		var now = new Date().getTime();
		var timeLeftStr = function(countDownDate, now){
			// Find the distance between now an the count down date
			var distance = countDownDate - now;
			// Time calculations for days, hours, minutes and seconds
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			hours = String(hours).length == 1 ? "0" + String(hours) : String(hours);
			minutes = String(minutes).length == 1 ? "0" + String(minutes) : String(minutes);
			seconds = String(seconds).length == 1 ? "0" + String(seconds) : String(seconds);

			var s = days + "d " + hours + ":" + minutes + ":" + seconds;

			// If the count down is finished, write some text
			if (distance < 0) {
				clearInterval(x);
				s =  "Done :)";
			}
			return s;
		};
		document.getElementById("clock").innerHTML = timeLeftStr(countDownDate, now);

	</script>
{% endblock %} 
{% block title %}
  Do a task
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid" style="height: 68px;width:100%;background-color:#F99370;">
            <!-- Brand and toggle get grouped for better mobile display -->            
            <div class="navbar-header" style="height: 60px;width:226px;margin-top:8px;margin-left:12px;background-color:#F99370;float:left">
                <a href="/" style="height: 60px;margin:0px;background-color:#F99370;">
                    <img src="{{url_for('.static', filename='icons/posi.svg')}}" style="width:100%;height:60px;border:0px;">
                </a>
            </div>
           <div class="navbar-header" style="height: 60px;width:68px;margin:4px;background-color:#F99370;float:right">
                <a href="{{url_for('create')}}" style="height: 100%;margin:0px;background-color:#F99370;">
                    <img src="{{url_for('.static', filename='icons/plus.svg')}}" style="width:100%;height:100%;border:0px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="text-center">
		<div class="task-title" id="title">{{ task.title.upper() }}</div>
        <div id="description"> {{ task.description }}</div>
		<div id="clock-container" class="container-fluid">
		  <div class="row board-container">
			<div id="clock" class="board clock-text">time</div>
		  </div>
		</div>

		<hr style="width: 60%; color: white; height: 1px; background-color:white;" />

		<div class="row text-center">
		  <span class="do-label">TYPE</span>
		  <span class="do-value">{{ task.task_type.upper() }}</span>
		</div>
		<div class="row text-center">
		  <span class="do-label">POINTS</span>
		  <span class="do-value">{{ task.value }}</span>
		</div>

		<div class="row text-center">
		  <span class="do-label">DONE BY</span>
		  <span class="do-value">{{ 145 }} PEOPLE</span>
		</div>

		<div class="row text-center">
		  <span class="do-label">WHERE</span>
		  <span class="do-value">{{ task.in_out_everywhere.upper() }}</span>
		</div>

		<div class="row text-center">
		  <span class="do-label">DURATION</span>
		  <span class="do-value">{{ task.duration }}</span>
		</div>

		<div class="row text-center">
		  <span class="do-label">BEING DONE BY</span>
		  <span class="do-value">{{ 23 }} PEOPLE</span>
		</div>

		<div class="row text-center do-value">
		  <a style="color: white; text-decoration: underline;" href="{{url_for('comments', task_id = task.task_id)}}">Comments</a>
		</div>



		<form name="finish" id="finishForm" action="/" method = "GET">
			<div class="row text-center">
				<button id="abortBtn" class="btn btn-lg" type="submit">
					ABORT
				</button>

				<button id="startBtn" class="btn btn-lg" type="button">
					START
				</button>
			</div>
		</form>
	</div >

{% endblock %}
