{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='nofar.css')}}">
{% endblock %}

{% block scripts %}
	{{super()}}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.mobile.custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
	<script>
		$(document).ready(function() {
			var task_htmls = {}
			{% for task_type in tasks %}
				task_htmls["{{ task_type }}"] = []
				{% for task in tasks[task_type] %}
					task_htmls["{{task_type}}"].push('<div class="item">\
							<div class="panel-group">\
								<div class="DARKBLUEBOX panel panel-default">\
									<div class="DARKBLUEBOX panel-heading">\
										<h4 class="NormalCharacterStyle4 panel-title">\
											<a data-toggle="collapse" href="#collapse_1_{{loop.index0}}">{{ task["title"] }}</a>\
										</h4>\
									</div>\
									<div id="collapse_1_{{loop.index0}}" class="panel-collapse collapse">\
										<div class="BLUEBOX panel-body">{{ task["description"] }}</div>\
										<div class="DARKBLUEBOX panel-footer">This task is worth {{ task["value"] }} shmekels</div>\
									</div>\
								</div>\
							</div>\
						</div>')
				{% endfor %}
			{% endfor %}
			var new_task_html = '<div class="item">\
					<div class="panel-group">\
						<div class="DARKBLUEBOX panel panel-default">\
							<div class="DARKBLUEBOX panel-heading">\
								<h4 class="NormalCharacterStyle4 panel-title">\
									<a data-toggle="collapse" href="#collapse_1_end">Create a task!</a>\
								</h4>\
							</div>\
							<div id="collapse_1_end" class="panel-collapse collapse">\
							<div class="BLUEBOX panel-body">Create a new task for others to enjoy</div>\
							<div class="DARKBLUEBOX panel-footer">This task is worth 50 shmekels</div>\
						</div>\
					</div>\
				</div>'
				
			var carousel_content = ""
			for (var task_type in task_htmls) {
				for (i = 0; i < task_htmls[task_type].length; i++) {
					carousel_content += task_htmls[task_type][i];
				}
			}
			carousel_content += new_task_html
			$("#taskCarousel").find(".carousel-inner").html(carousel_content)
			$("#taskCarousel").find(".carousel-inner").find(".item").first().addClass('active');
			
			$(".carousel-inner").swiperight(function() {
				//$(this).parent().carousel('prev');
			});
			$(".carousel-inner").swipeleft(function() {
				$(this).parent().carousel('next');
			});
			$("#do").click(function() {
				window.location.replace("{{url_for('do', task_id=12)}}");
			});
			$("#create").click(function() {
				window.location.replace("{{url_for('create')}}");
			});
			var ended = false
			$("#taskCarousel").on("slid.bs.carousel", function (evt) {
				console.debug("slide transition ended")
				//console.debug("current slide = ", $(this).find(".active").index())
				console.debug("next slide = ", $(evt.relatedTarget).index() )
				console.debug("length = ", {{ tasks["tasks"]|length }} )
				if ($(evt.relatedTarget).index() == {{ tasks["tasks"]|length }} && !ended) {
					$(this).find(".carousel-inner").html(new_task_html)
					$(this).find(".carousel-inner").find(".item").first().addClass('active');
					ended = true
				}
			})
			
			
		});
	</script>
{% endblock %}
{% block title %}
	Positask - Happiness, one task at a time
{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

	<div class="container">
		<div id="taskCarousel" class="carousel slide" data-interval="">
			<div class="carousel-inner">
				<!-- Slides added dynamically -->
			</div>
		</div>
	</div>
{% endblock %}
